@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-primary m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  @apply font-code;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  @apply pl-8 flex flex-col list-disc gap-2;
}

h1, .h1 {
  @apply text-ellie-pink m-0 border-b-0 font-bold;
	font-size: 2.25rem;
}

h2, .h2 {
  @apply text-ellie-yellow mb-[0.6rem] font-bold;
  font-size: 1.5rem;
}

h3, .h3 {
  @apply text-ellie-yellow mb-0 font-bold;
  font-size: 1.25rem;
}

h4, .h4 {
  @apply text-ellie-pink m-0 font-bold;
}

h5, .h5, strong {
  @apply text-ellie-darkGrey font-bold;
	font-size: 1.1rem;
	line-height: 1.625rem;
}

em {
  @apply text-ellie-grey;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.App {
  min-height: calc(100vh - 13rem);
}

.container {
  @apply flex justify-center items-center pt-8 px-4 mx-auto;
}

.markdown a {
  @apply text-ellie-yellow;
}

.markdown a:hover {
  text-decoration: underline;
}

.link {
  opacity: 0.5;
}

.link:hover {
  opacity: 1;
}

.typewrite {
  font-size: 3rem;
  font-weight: 600;
}

.typewrite > .wrap { 
  @apply border-r-[0.08em] border-r-ellie-white;
}

.blog-tile a img {
  opacity: 1;
}

.blog-tile a:hover img {
  opacity: 0.7;
}

.thrifted-tile--description {
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(8px);
  transition: all 300ms ease;
}

.thrifted-tile:hover .thrifted-tile--description,
.thrifted-tile:focus .thrifted-tile--description {
  opacity: 1;
  visibility: visible;
}

@layer utilities {
  .col {
    "-ms-flex-preferred-size": 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}


/* Hamburger */
.svg {
  position: absolute;
  height: 64px;
  width: 64px;
}

.plate {
  height: 64px;
  width: 64px;
  cursor: pointer;
}
.burger {
  filter: url(#gooeyness);
  position: absolute;
  height: 64px;
  width: 64px;
}
.x {
  transform: scale(0);
  transition: transform 400ms;
  position: absolute;
  height: 64px;
  width: 64px;
}
.line {
  fill: none;
  @apply stroke-ellie-pink;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}

.plate4 .x {
  transition: transform 400ms;
}
.plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.active.plate4 .line {
  transition: transform 400ms;
}
.active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7);
}
.active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7);
}
.active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(.7);
}
.active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(.7);
}
.active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7);
}
.active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7);
}
.active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
/* ********** */



